!!!
%html
  %head
    %title
      iPhoneSMS.db
      - if @title
        \-
        = @title
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    :plain
      <!--[if lt IE 9]>
      <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
      <![endif]-->
  %body
    = render 'layouts/header'

    .container-fluid
      .row-fluid
        .span3
          = render 'layouts/sidebar'
        = yield

    = render 'layouts/footer'